# Ignore build output
target/
*.class
*.jar
*.war
*.ear

# Logs
*.logs

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
.eclipse

# OS/system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
# Python/Jupyter local junk 
**/.ipynb_checkpoints/ 
**/.jupyter/ 
**/.ipython/ 
**/.local/ 
**/.npm/ 
**/.config/ 
