# Ignore build output
target/
*.class
*.jar
*.war
*.ear

# Logs
*.logs

# IntelliJ IDEA
*.iml
.idea/
.idea

# Eclipse
.eclipse

# OS/system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
# Python/Jupyter local junk 
**/.ipynb_checkpoints/ 
**/.jupyter/ 
**/.ipython/ 
**/.local/ 
**/.npm/ 
**/.config/ 
# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Jupyter / IPython
.ipython/
.jupyter/
.local/

# CLI / Config
.config/
.npm/

# OS
.DS_Store
Thumbs.db

# COBOL build outputs
*.exe
*.o
*.dll
*.so
cobol/student-registration-system/src/PRGMENU
cobol/student-registration-system/src/PRGV0001
cobol/student-registration-system/src/PRGI0002
cobol/student-registration-system/src/PRGU0003
cobol/student-registration-system/src/PRGD0004
cobol/student-registration-system/src/PRGQ0005
cobol/student-registration-system/src/PRGQ0006
cobol/student-registration-system/src/PRGQ0007
cobol/student-registration-system/src/PRGR0008
