# Ignore build output
target/
*.class
*.jar
*.war
*.ear

# Logs
*.logs

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
.eclipse

# OS/system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Jupyter / IPython
.ipython/
.jupyter/
.local/

# CLI / Config
.config/
.npm/

# OS
.DS_Store
Thumbs.db
